.square {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .border-row {
    display: flex;
    justify-content: center;
  }